@import url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main {
    background-image: url(assiets/images/PK-en-20260831-TRIFECTA-perspective_bc9a7950-8249-46a3-98ef-0d84d7eb0abf_large.jpg);
    width: 100vw;
    max-width: 1500px;
    height: 80vh;
    /* background-position: center center; */
    background-size: cover;
    position: relative;
}

.main .box {
    background-color: #010101;
    opacity: 0.44;
    max-width: 1500px;
    width: 100Vw;
    height: 80vh;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 70px;
    margin: 0px auto;

}

nav svg {
    width: 165px;
    position: relative;
    z-index: 10;
}
nav button:hover{
    cursor: pointer;
}
nav button {
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    /* font-family:  "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif; */
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 10;
    border: none;
    background-color: red;
    border-radius: 6px;
    text-transform: capitalize;
    padding: 5px;
    color: rgb(255, 255, 255);
}

.hero {

    color: white;
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0px;
    flex-direction: column;
    position: relative;
    gap: 10px;


}

.hero> :nth-child(1) {
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 10px;
}

.hero> :nth-child(2) {
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.hero> :nth-child(3) {
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.input input {
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;

    /* min-width: 1.5rem;
    min-height: 1.5rem; */
    width: 320px;
    height: 37px;
    padding: 11px;
    margin: 5px auto 0px;
    background-color: rgba(23, 23, 23, 0.9);
    opacity: 0.70;
    border: 1px solid white;
    border-radius: 6px;

}
.input input:hover{
    outline: solid white;
    outline-offset: 2px;
}

.input button {
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 24px;
    width: 190px;
    height: 60px;
    padding: 5px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 6px;
    text-transform: capitalize;
    margin: 5px 0px 0px 5px;

}
.input button:hover{
    cursor: pointer;
}

.curve {
    position: relative;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    height: 10px;
    background: linear-gradient(135deg, #000000, #B20710, #141414);

}

.separation {
    height: 10%;
    width: 100%;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;

    /* background-color: #BA90D6; */
    background: linear-gradient(135deg, #000000, #B20710, #141414);
    position: absolute;
    top: 0;



}

.img-box {
    width: 72vw;
    height: 45vh;
    display: flex;
    margin: 5px auto;
    /* background-color: rgb(194, 35, 35); */
    border: 2px solid black;
    border-radius: 7px;
    padding: 15px;
    box-sizing: border-box;

}

h1 {
    display: flex;
    
    color: white;
    margin: 10px 0px 5px 240px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.img-box .movie-img {
    position: relative;
    margin: 10px;
    border-radius: 6px;
    width: 50vw;
    height: 40vh;
    border: none;
}

.movie-img img {
    width: 180px;
    height: 250px;
    object-fit: fill;
    border: none;
    border-radius: 6px;
    object-position: center center;
}
.movie-img .number {
    font-size: 75px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 120px;
    left: -16px;
    text-shadow: 3px 3px 5px white;
    
}
.movie-img img:hover{
    transform: rotateY(20deg);
    cursor: pointer;
    box-shadow: 1px 1px 2px whitesmoke;

}
.img-box> svg{
    background-color: rgba(21, 21, 21, 0.66);
    width: 75px;
    height: 130px;
    margin-top: 70px;
    font-size: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: aliceblue;
}
.img-box> svg:hover{
    background-color: rgba(51, 51, 51, 1);
}
.text {
    width: 70vw;
    height: 45vh;
    /* background-color: red; */
    margin: 10px auto;
    padding: 10px;


}

.text>h2 {
    display: flex;
    justify-content: flex-start;

    text-transform: capitalize;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    color: white;

}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.text .box {
    width: 280px;
    height: 250px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 5px auto;
    /* background: linear-gradient(135deg, #050B2E, #1B0B3A, #5B21B6); */
    background-color: #1d172c;
}







.box1 :nth-child(1) {
    display: inline-block;
    margin: 8px 20px;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.box1 :nth-child(2) {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin: 0px 5px;
}

.box2 :nth-child(1) {
    display: inline-block;
    margin: 8px 20px;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.box2 :nth-child(2) {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin: 0px 5px;
}

.box3 :nth-child(1) {
    display: inline-block;
    margin: 8px 20px;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.box3 :nth-child(2) {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin: 0px 5px;
}

.box4 :nth-child(1) {
    display: inline-block;
    margin: 8px 20px;
    /* text-align: center; */
    font-size: 19px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.box4 :nth-child(2) {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin: 0px 5px;
}

.freq {
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1;

    padding: 15px;
    margin: 50px 250px 0px;
}

.freq>h2 {
    font-weight: 500;
    font-size: 24px;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 5px;
}

.freq .cost {
    width: 80%;
    height: 80px;
    border: none;
    color: white;
    background-color: #2d2d2d;
    font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0px;

}

.freq .cost:hover {
    cursor: pointer;
    background-color: #414141;
}

.question {
    width: 80vw;
    margin: 5px 0px;
    height: 17vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    padding: 10px;
}



.question a {
    color: #b3b3b3;

}

footer>h2 {
    display: flex;
    justify-content: flex-start;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-decoration: underline;
    margin: 10px;

}

.foot {
    width: 80%;
    height: 10vh;
    
    color: #b3b3b3;
    font-family: "Poppins", sans-serif;
    padding: 5px;
}

.foot>button {
    font-family: "Poppins", sans-serif;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    width: 130px;
    height: 35px;
    text-align: center;
    margin: 5px;
    background-color: #0f0f0f;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.foot :nth-child(2){
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}
.foot :nth-child(3){
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
}

@media screen and (max-width:500px) {
    bady{
        background-color: #B20710;
    }
    nav{
        width: 80%;

    }
    nav> svg{
        width:5px; 
    }
    .main{
        width: 500px;
        height: 550px;
        background-repeat: no-repeat;
        background-size: fill;
    }
    .main> .box{
        width: 500px;
        height: 550px;
    }
    .hero{
        height: 150px;
        width: 400px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero> span{
        font-size: 5px;
        font-weight: 0;
    }
    .input button{
        margin-left: 70px;
    }
    h1{
        margin: 10px 15px;
    }
    .img-box{
        width: 70%;
        margin: 0px 0px;
    }
    .img-box .movie-img {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .img-box ,.movie-img{
        height: 200px;
        width: 100px;
    }
    .movie-img img{
        width: 200px;
        height: 200px;
    }
    .text> h2{
        margin: 15px 0px;
    }
    .boxes{
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px;
    }
    .freq{
        width: 525px;
        height: 400px;
        margin: 0px 15px;
    }
    
    }
    .question a{
        display: grid;
        grid-template-columns: 1fr ;
    }
    
    .foot{
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
}